<div
  class="banner banner_index" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://images.unsplash.com/photo-1517644493876-7864565e3bf9?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=eaa4adf6cdb9cafa4fada1580b7c8e2c&auto=format&fit=crop&w=800&q=60');">
  <div class="banner-content">
    <h1>Cocktail-Mixer</h1>
    <p>Create your own taste</p>
  </div>
</div>
<div style="text-align: center;" class="all_cocktails">
  <ul style="list-style-type: none;">
   <h1>Created Cocktails</h1>
   <% @cocktails.each do |c| %>
     <li>
       <p><%= link_to c.name, cocktail_path(c) %></p>
     </li>
   <% end %>
  </ul>
  <%= link_to "add a new cocktail", new_cocktail_path, class: "btn btn-primary"%>
  <%= link_to "delete a cocktail", cocktail_path(:id), class: "btn btn-primary"%>
</div>





